name: Test
on: [push, pull_request]

jobs:
  test:
    name: testing on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, macOS-10.14]
    steps:
    - name: compile test file
      run: |
        echo 'package main; func main(){print("hi\n")}' > main.go
        go build -o hi main.go
    - uses: joshuarli/strip-upx-action@devel
      with:
        infile: 'hi'
        strip_args: '--strip-all'
        upx_args: '-9'
    - name: test correctness
      run: test "$(./hi)" = hi
